.page_3 {
    width: 100%;

    main.page_main {
        padding: 30px;
        width: 100%;
        min-height: calc(100vh - 80px);
        background-color: var(--theme-dark-blue);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .form_buttons {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;

        button {
            width: fit-content !important;
            border: none;
            padding: 10px 40px;
            color: white;
            border-radius: 10px;
            background-color: #f3ba2f;
            cursor: pointer;

            &:hover {
                background-color: #d89d08;
            }
        }
    }

    .items_wrapper {
        margin-bottom: 40px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        @media (max-width:1000px) {
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }



        .form_section {
            width: 40%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;


            @media (max-width:1000px) {
                width: 100%;
            }

            span.required_label {
                display: block;
                width: 100%;
                text-align: left;
                color: #f3ba2f;
                font-size: 17px;
                margin-bottom: 30px;
            }



            .input_group_2 {
                width: 100%;
                margin-bottom: 20px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;

                .group_2_label {
                    margin-bottom: 10px;
                    width: 100%;

                    span.mt {
                        color: white;
                        font-size: 20px;
                        font-weight: bold;
                        display: inline-block;
                        margin-right: 5px;
                    }

                    span.ast {
                        font-weight: bold;
                        color: #f3ba2f;
                        font-size: 18px;
                    }
                }

                .group_2_input {
                    width: 100%;
                    margin-bottom: 10px;

                    input[type="text"],
                    [type="number"],
                    [type="date"] {
                        border: none;
                        background-color: white;
                        width: 100%;
                        height: 35px;
                        padding-left: 10px;
                        color: var(--theme-dark-blue);
                        outline: none;
                    }
                }

                span.group_2_note {
                    display: block;
                    width: 100%;
                    text-align: left;
                    font-size: 17px;
                    color: #f3ba2f;
                }

                span.group_2_note_bold {
                    display: block;
                    width: 100%;
                    text-align: left;
                    font-size: 17px;
                    color: white;
                    font-weight: bold;
                }
            }



        }
    }

    .input_group_2_textarea {
        width: 100%;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        .group_2_label {
            margin-bottom: 10px;
            width: 100%;

            span.mt {
                color: white;
                font-size: 20px;
                font-weight: bold;
                display: inline-block;
                margin-right: 5px;
            }

            span.ast {
                font-weight: bold;
                color: #f3ba2f;
                font-size: 18px;
            }
        }

        .group_3_input {
            width: 40%;

            @media (max-width:1000px) {
                width: 100%;
            }

            margin-bottom: 20px;

            textarea {
                border: none;
                background-color: white;
                width: 100%;
                max-width: 100%;
                height: 170px;
                max-height: 200px;
                padding-left: 10px;
                color: var(--theme-dark-blue);
                outline: none;
            }
        }
    }
}