.submit_page {
    width: 100%;

    main.page_main {
        padding: 30px;
        width: 100%;
        min-height: calc(100vh - 80px);
        background-color: var(--theme-dark-blue);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;


        @media (max-width:1000px) {
            padding: 30px 5px;
        }

        .form_buttons {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 30px;

            button {
                width: fit-content !important;
                border: none;
                padding: 10px 40px;
                color: white;
                border-radius: 10px;
                background-color: #f3ba2f;
                cursor: pointer;

                &:hover {
                    background-color: #d89d08;
                }
            }
        }

        .items_wrapper {
            margin-bottom: 40px;
            width: 90%;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            @media (max-width:1000px) {
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                width: 95%;
            }



            .form_section {
                width: 45%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;


                @media (max-width:1000px) {
                    width: 100%;
                }

                .wrapper {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;

                    .row {
                        width: 100%;
                        margin-bottom: 5px;
                        display: flex;

                        span {
                            width: 50%;
                            display: block;
                        }

                        span.property {
                            text-align: left;
                            color: white;
                            word-wrap: break-word;

                            @media (max-width:1000px) {
                                font-size: 14px;
                            }
                        }

                        span.value {
                            text-align: right;
                            color: #f3ba2f;
                            word-wrap: break-word;

                            @media (max-width:1000px) {
                                font-size: 14px;
                            }
                        }
                    }

                    .rule,
                    .rule_mobile {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 10px;
                        margin-bottom: 15px;

                        .ruler {
                            width: 100%;
                            height: 2px;
                            border: 1px solid rgb(94, 94, 94);
                            background-color: rgb(94, 94, 94);
                        }

                        .ring {
                            width: 20px;
                            height: 20px;
                            border-radius: 50%;
                            background-color: white;
                            border: 2px solid rgb(112, 204, 232);
                            position: absolute;
                        }
                    }

                    .rule_mobile {
                        @media (min-width:1000px) {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}