.create_token {
    width: 100%;

    main.page_wrapper {
        width: 100%;
        min-height: calc(100vh - 80px);
        background-color: var(--theme-dark-blue);
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding-bottom: 80px;

        .fill_form {
            width: 90%;
            max-width: 500px;
            padding-top: 30px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            padding-left: 20px;


            span.required_label {
                display: block;
                width: 100%;
                text-align: left;
                color: #f3ba2f;
                font-size: 17px;
                margin-bottom: 30px;
            }

            .input_group_1 {
                width: 100%;
                margin-bottom: 30px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;

                .group_1_label {
                    margin-bottom: 10px;
                    width: 100%;

                    span.mt {
                        color: white;
                        font-size: 20px;
                        font-weight: bold;
                        display: inline-block;
                        margin-right: 5px;
                    }

                    span.ast {
                        font-weight: bold;
                        color: #f3ba2f;
                        font-size: 18px;
                    }
                }

                .group_1_input {
                    width: 100%;
                    margin-bottom: 10px;

                    select,
                    input[type="text"],
                    [type="number"],
                    [type="date"] {
                        border: none;
                        background-color: white;
                        width: 100%;
                        height: 35px;
                        padding-left: 10px;
                        color: var(--theme-dark-blue);
                        outline: none;
                    }
                }

                span.group_1_note {
                    display: block;
                    width: 100%;
                    text-align: left;
                    font-weight: bold;
                    font-size: 14px;
                    color: #f3ba2f;
                }
            }

            .form_buttons {
                margin-top: 10px;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                button {
                    width: fit-content !important;
                    border: none;
                    padding: 10px 40px;
                    color: rgb(0, 0, 0);
                    border-radius: 10px;
                    background-color: #fff;
                    font-weight: bold;
                    cursor: pointer;

                    &:hover {
                        background-color: rgb(213, 213, 213);
                    }
                }
            }


            span.created {
                display: block;
                width: 100%;
                color: white;
                font-weight: bold;
                text-align: center;
                margin-bottom: 35px;
                font-size: 20px;
            }

            .details_table {
                padding-top: 20px;
                margin-bottom: 30px;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                background-color: white;

                .table_row {
                    width: 80%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 20px;

                    span {
                        display: block;
                        width: 50%;
                        text-align: left;
                        word-wrap: break-word;
                    }

                }
            }

            .address {
                display: block;
                width: 100%;
                text-align: center;
                color: #f3ba2f;
                margin-bottom: 30px;
            }

            .three_btns {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;

                div {
                    width: 300px;
                    padding: 10px 0px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 10px;
                    cursor: pointer;
                    background-color: white;
                    margin-bottom: 15px;
                }

                .yl {
                    background-color: #f3ba2f;
                }
            }
        }
    }
}