.presale_list {
    width: 100%;

    .list_wrapper {
        width: 100%;
        min-height: calc(100vh - 80px);
        background-color: var(--theme-dark-blue);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 30px;

        @media (max-width:1100px) {
            padding: 30px 10px;
        }

        .badge_wrapper {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            cursor: pointer;
            margin-bottom: 30px;

            .badge {
                background-color: #fff;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding: 10px 20px;
                border-radius: 12px;

                @media (max-width:1000px) {
                    padding: 7px 15px;
                    font-size: 12px;

                }

                img {
                    margin-right: 10px;
                }

                span {
                    color: var(--theme-dark-blue);
                    font-weight: bold;
                }


            }

        }

        .search_section {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            margin-bottom: 40px;

            @media (max-width:1100px) {
                width: 90%;
            }

            .top {
                width: fit-content;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;

                @media (max-width:1100px) {
                    width: 100%;
                }

                span {
                    display: block;
                    margin-bottom: 10px;
                    color: #2184C7;
                    width: 150px;
                    text-align: left;
                    font-weight: bold;
                    font-size: 18px;
                }

                div {
                    width: 120px;
                    height: 5px;
                    background-color: #2184C7;
                    margin-bottom: 20px;


                }

                input {
                    border: none;
                    border-radius: 10px;
                    width: 350px;
                    height: 30px;
                    padding-left: 10px;
                    outline: none;

                    @media (max-width:1100px) {
                        width: 100%;
                    }
                }
            }
        }

        .pools {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;

            .pool {
                width: 350px;
                margin: 25px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                padding: 20px;
                border-radius: 20px;
                background-color: #fff;

                @media (max-width:1100px) {
                    width: 100vw;
                }

                .name {
                    display: block;
                    width: 100%;
                    text-align: left;
                    margin-bottom: 10px;
                    color: #2184C7;
                    font-weight: bold;
                }

                .rw1 {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .logo {
                        img {
                            width: 50px;
                            height: 50px;
                        }

                    }

                    .btns {
                        display: flex;
                        justify-content: flex-end;

                        div {
                            padding: 5px;
                            font-size: 12px;
                            margin-left: 10px;
                            border-radius: 5px;
                        }

                        .safu {
                            border: 2px solid #F3BA2F;
                        }

                        .audit {
                            border: 2px solid #627EEA;
                        }

                        .kyc {
                            border: 2px solid #EC1B6C;
                        }
                    }

                }

                .rw2 {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    margin-top: 20px;


                    span {
                        display: block;
                        width: 100%;
                        text-align: left;
                    }

                    .s1 {
                        font-weight: bold;
                        font-size: 20px;
                        word-wrap: break-word;
                        margin-bottom: 5px;
                    }

                    .s2 {
                        color: rgb(107, 107, 107);
                        font-size: 14px;
                        font-weight: bold;
                    }

                }

                .rw3 {
                    margin-top: 20px;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;

                    span {
                        display: block;
                        text-align: left;
                        word-wrap: break-word;
                        font-weight: bold;
                    }

                    .val {
                        color: #2184C7;
                        font-size: 20px;
                    }

                }

                .progress {
                    margin-top: 20px;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;

                    .s-a {
                        width: 100%;
                        text-align: left;
                        font-weight: bold;
                    }

                    .bar {
                        margin-top: 10px;
                        display: flex;
                        justify-content: flex-start;
                        height: 7px;
                        border-radius: 10px;

                        .fill {
                            height: 100%;
                            border-radius: inherit;
                            background-color: #36E39B;
                        }
                    }

                    .fill_count {
                        margin-top: 5px;
                        width: 100%;
                        text-align: right;
                        color: rgb(113, 113, 113);
                        font-size: 12px;
                    }

                    .vals {
                        margin-top: 15px;
                        width: 100%;
                        display: flex;
                        justify-content: space-between;

                        span {
                            display: block;
                            width: 50%;
                            color: rgb(126, 126, 126);
                        }

                        .r {
                            text-align: right;
                        }
                    }

                    .groups {
                        margin-top: 20px;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;

                        .rw {
                            margin-bottom: 10px;
                            width: 100%;
                            display: flex;
                            justify-content: space-between;

                            span {
                                width: 50%;
                            }

                            .l {
                                font-weight: bold;
                            }

                            .r {
                                text-align: right;
                                color: rgb(125, 125, 125);
                            }
                        }

                    }

                    .status {
                        margin-top: 10px;
                        width: 100%;

                        .l {
                            margin-right: 3px;
                        }
                    }

                    .vp {
                        margin: 30px 0px 20px 0px;
                        width: 100%;
                        display: flex;
                        justify-content: center;

                        div {
                            padding: 10px 20px;
                            background-color: #f3ba2f;
                            color: #fff;
                            cursor: pointer;
                            border-radius: 10px;
                        }
                    }


                }


            }
        }

        .vmp {
            margin-top: 20px;
            margin: 30px 0px 20px 0px;
            width: 100%;
            display: flex;
            justify-content: center;

            div {
                padding: 10px 20px;
                background-color: #f3ba2f;
                color: #fff;
                cursor: pointer;
                border-radius: 10px;
            }
        }
    }
}