.airdrop {
    width: 100%;

    .airdrop_wrapper {
        background-color: var(--theme-dark-blue);
        padding: 40px;
        width: 100%;
        min-height: calc(100vh - 80px);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;


        @media (max-width:1000px) {
            padding: 40px 15px;
        }

        .badge_wrapper {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            cursor: pointer;

            .badge {
                background-color: #fff;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding: 10px 20px;
                border-radius: 12px;

                @media (max-width:1000px) {
                    padding: 7px 15px;
                    font-size: 12px;

                }

                img {
                    margin-right: 10px;
                }

                span {
                    color: var(--theme-dark-blue);
                    font-weight: bold;
                }


            }

        }

        .note_ad {
            display: block;
            width: 100%;
            height: 70px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            color: #fff;
        }

        .section_ins {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            background-color: var(--theme-dark-blue);
            padding: 20px;

            span {
                width: 100%;
                display: block;
                text-align: left;
                margin-bottom: 30px;
                color: #fff;
            }

            .t1 {
                font-weight: bold;
            }

            .fee {
                margin-top: 50px;
            }
        }

        .section_2 {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            margin-top: 40px;

            @media (max-width:1100px) {
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
            }


            .inputs {
                width: 45%;
                margin-right: 50px;

                @media (max-width:1100px) {
                    width: 100%;
                    margin-right: 0;
                }

                .address_entry {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    padding-left: 20px;
                    background-color: #fff;
                    border-radius: 10px;
                    padding-top: 20px;
                    margin-bottom: 20px;

                    span {
                        color: rgb(130, 151, 255);
                        display: block;
                        width: 100%;
                        font-weight: bold;
                    }

                    input {
                        width: 100%;
                        height: 40px;
                        border: none;
                        outline: none;
                        color: var(--theme-dark-blue);
                        border-radius: inherit;
                    }
                }

                .token_dt {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;

                    .gp {
                        width: 50%;
                        // margin-right: 30px;
                        display: flex;
                        justify-content: flex-start;

                        span.l {
                            color: #fff;
                            margin-right: 10px;
                            display: block;
                            width: 30%;
                        }

                        span.r {
                            color: #f3ba2f;
                            font-weight: bold;
                            display: block;
                            width: 70%;
                        }


                        @media (max-width:1000px) {
                            span {
                                font-size: 12px;
                            }
                        }
                    }
                }


                .list {
                    margin-top: 50px;
                    padding: 20px;
                    border-radius: 20px;
                    width: 100%;
                    background-color: white;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;

                    span {
                        display: block;
                        width: 100%;
                        color: var(--theme-dark-blue);
                        font-weight: bold;
                        margin-bottom: 30px;
                    }

                    textarea {
                        padding: 10px;
                        height: 200px;
                        border: 2px solid var(--theme-dark-blue);
                        border-radius: 10px;
                        min-height: 200px;
                        max-width: 100%;
                        min-width: 100%;
                        max-height: 300px;
                    }
                }

                .rm {
                    display: block;
                    width: 100%;
                    margin-top: 20px;
                    color: #f3ba2f;

                    @media (max-width:1100px) {
                        margin-bottom: 70px;
                    }
                }
            }

            .rt {
                margin-right: 0 !important;
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: #fff;
                padding: 50px 20px;
                border-radius: 20px;

                @media (max-width:1100px) {
                    margin-bottom: 50px;
                }


                .data {
                    display: flex;
                    justify-content: flex-start;
                    margin-bottom: 30px;
                    width: fit-content;

                    .value {
                        display: inline-block;
                        font-weight: bold;
                        color: #f3ba2f;
                        margin-left: 5px;
                    }


                    @media (max-width:1000px) {
                        font-size: 12px;
                    }
                }

                .btns {
                    width: 100%;
                    display: flex;
                    justify-content: center;

                    div {
                        padding: 10px 20px;
                        background-color: #f3ba2f;
                        color: #fff;
                        cursor: pointer;

                        @media (max-width:1000px) {
                            padding: 7px 14px;
                            font-size: 13px;
                        }
                    }

                    .lb {
                        margin-right: 20px;
                    }
                }
            }
        }
    }
}