.footer {
    width: 100%;
    background: linear-gradient(180deg, #0a0a0f 0%, #0d0d16 100%);
    color: #e5e5e5;
    font-weight: var(--font-weight-semibold);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: var(--spacing-3xl) 0;
    margin-top: var(--spacing-4xl);
    border-top: 1px solid #27272a;

    p {
        display: block;
        width: 100%;
        margin-top: var(--spacing-xl);
        text-align: center;
        padding: 0 var(--spacing-2xl);
        margin-bottom: var(--spacing-xl);
        font-size: var(--font-size-lg);
        line-height: var(--line-height-relaxed);
        max-width: 800px;
    }

    .social {
        width: 100%;
        margin-bottom: 20px;

        ul {
            width: 100%;
            list-style: none;
            display: flex;
            justify-content: flex-end;
            padding-right: 30px;

            li {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                margin-right: 50px;
                cursor: pointer;

                .ic {
                    margin-right: 5px;

                    img {
                        width: 25px;
                        height: 25px;
                    }
                }
            }
        }

        @media (max-width:1000px) {
            ul {
                display: none;
            }
        }
    }
}