.admin {
    width: 100%;

    main.page_wrapper {
        width: 100%;
        min-height: calc(100vh - 80px);
        background-color: var(--theme-dark-blue);
        // overflow-y: auto !important;

        header {
            width: 100%;
            background-color: none;
            padding-top: 30px;

            h1 {
                display: block;
                text-align: center;
                width: 100%;
                color: #fff;
            }
        }

        .login_form {
            width: 100%;
            min-height: 60vh;
            display: flex;
            justify-content: center;
            align-items: center;

            form {
                padding: 25px;
                border-radius: 15px;
                width: 90%;
                max-width: 350px;
                background-color: #f3ba2f;

                title {
                    display: block;
                    text-align: left;
                    font-weight: bold;
                    color: #fff;
                    font-size: 30px;
                    margin-bottom: 20px;
                }

                .input_g {
                    margin-bottom: 25px;

                    label {
                        display: block;
                        text-align: left;
                        color: #000000;
                        margin-bottom: 10px;
                        font-weight: bold;
                    }

                    input {
                        width: 100%;
                        height: 35px;
                        border: none;
                        outline: none;
                        padding-left: 12px;
                        border-radius: 12px;
                        background-color: #fff;
                    }
                }

                .loginbtn {
                    padding: 10px 30px;
                    border-radius: 16px;
                    cursor: pointer;
                    background-color: #000;
                    color: #fff;
                    text-align: center;
                }
            }
        }

        .top_s {
            width: 100%;
            margin-bottom: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 30px;

            span {
                font-weight: bold;
                color: #EC1B6C;
                display: inline-block;
                margin-right: 50px;
            }

            button {
                border: none;
                background-color: #203aa0;
                border-radius: 8px;
                cursor: pointer;
                padding: 10px 20px;
                color: white;
                cursor: pointer;
                font-weight: bold;
            }
        }

        .search_c {
            margin-top: 40px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px;

            input {
                width: 90%;
                max-width: 400px;
                height: 100%;
                border: none;
                outline: none;
                background-color: white;
                border-radius: 15px;
                padding-left: 12px;
            }
        }

        .admin_pools_wrapper {
            margin-top: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            // height: 100vh;
            // overflow-y: scroll;

            // &::-webkit-scrollbar {
            //     width: 10px;
            // }

            // /* Track */
            // &::-webkit-scrollbar-track {
            //     background: #f1f1f1;
            // }

            // /* Handle */
            // &::-webkit-scrollbar-thumb {
            //     background: #888;
            // }

            // /* Handle on hover */
            // &::-webkit-scrollbar-thumb:hover {
            //     background: #555;
            // }

            .wrapper {
                padding: 15px;
                border-radius: 20px;
                background-color: #fff;
                margin: 20px;

                .admin_pool {
                    padding: 15px;
                    width: 320px;
                    background-color: #fff;
                    border: 2px solid #f3ba2f;
                    border-radius: 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;

                    .top {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-bottom: 30px;

                        .pr_name {
                            font-size: 12px;
                            font-weight: bold;
                            margin-right: 30px;
                        }

                        .pr_status {
                            color: white;
                            padding: 3px 16px;
                            border-radius: 20px;
                            font-size: 14px;
                        }
                    }

                    .mid {
                        width: 100%;
                        display: flex;
                        justify-content: flex-start;
                        margin-bottom: 30px;

                        .btn {
                            padding: 5px 8px;
                            border-radius: 5px;
                            cursor: pointer;
                            color: white;
                            font-size: 12px;
                        }

                        .x {
                            background-color: #f3ba2f;
                        }

                        .y {
                            background-color: #EC1B6C;
                        }

                        .x,
                        .y {
                            margin-right: 10px;
                        }

                        .z {
                            background-color: #000;
                        }
                    }

                    .btm {
                        width: 100%;
                        display: flex;
                        justify-content: flex-end;

                        .btn_2 {
                            padding: 5px 20px;
                            border-radius: 4px;
                            cursor: pointer;
                            font-size: 12px;
                        }

                        .view {
                            background-color: #627EEA;
                            color: white;
                        }

                        .cancel {
                            margin-left: 15px;
                            color: #627EEA;
                            border: 2px solid #f3ba2f;
                        }
                    }
                }
            }
        }
    }
}