.page_2 {
    width: 100%;

    main.page_main {
        padding: 30px;
        width: 100%;
        min-height: calc(100vh - 80px);
        background-color: var(--theme-dark-blue);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;


        .form_buttons {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 30px;

            button {
                width: fit-content !important;
                border: none;
                padding: 10px 40px;
                color: white;
                border-radius: 10px;
                background-color: #f3ba2f;
                cursor: pointer;

                &:hover {
                    background-color: #d89d08;
                }
            }
        }

        .items_wrapper {
            margin-bottom: 40px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            @media (max-width:1000px) {
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
            }



            .form_section {
                width: 40%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;


                @media (max-width:1000px) {
                    width: 100%;
                }

                .vesting {
                    display: flex;
                    width: 100%;
                    justify-content: flex-start;
                    margin-bottom: 20px;

                    input {
                        margin-left: -5px;
                        margin-right: 5px;
                        width: 30px;
                        cursor: pointer;
                        outline: none;
                    }

                    span {
                        font-weight: bold;
                        color: #fff;
                        cursor: pointer;
                    }
                }

                span.required_label {
                    display: block;
                    width: 100%;
                    text-align: left;
                    color: #f3ba2f;
                    font-size: 17px;
                    margin-bottom: 30px;
                }

                span.required_label_white {
                    display: block;
                    width: 100%;
                    text-align: left;
                    color: white;
                    font-size: 17px;
                    margin-bottom: 10px;

                    span {
                        color: #f3ba2f;
                        font-size: 20px;
                    }
                }

                .input_group_2 {
                    width: 100%;
                    margin-bottom: 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;

                    .group_2_label {
                        margin-bottom: 10px;
                        width: 100%;

                        span.mt {
                            color: white;
                            font-size: 20px;
                            font-weight: bold;
                            display: inline-block;
                            margin-right: 5px;
                        }

                        span.ast {
                            font-weight: bold;
                            color: #f3ba2f;
                            font-size: 18px;
                        }
                    }

                    .group_2_input {
                        width: 100%;
                        margin-bottom: 10px;

                        input[type="text"],
                        [type="number"],
                        [type="datetime-local"],
                        select {
                            border: none;
                            background-color: white;
                            width: 100%;
                            height: 35px;
                            padding-left: 10px;
                            color: var(--theme-dark-blue);
                            outline: none;

                            &::placeholder {
                                color: rgb(107, 107, 107);
                            }
                        }

                        select {
                            cursor: pointer;
                        }
                    }

                    span.group_2_note {
                        display: block;
                        width: 100%;
                        text-align: left;
                        font-size: 17px;
                        color: #f3ba2f;
                    }

                    span.group_2_note_bold {
                        display: block;
                        width: 100%;
                        text-align: left;
                        font-size: 17px;
                        color: white;
                        font-weight: bold;
                    }
                }

                .input_group_3 {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    margin-bottom: 30px;

                    .group_3_label {
                        // margin-bottom: 10px;
                        width: 100%;

                        span.mt {
                            color: white;
                            font-size: 20px;
                            font-weight: bold;
                            display: inline-block;
                            margin-right: 5px;
                            margin-bottom: 10px;
                        }

                        .whitelist_select {
                            width: 100%;
                            display: flex;
                            justify-content: flex-start;
                            margin-bottom: 10px;

                            .group {
                                display: flex;
                                justify-content: flex-start;
                                cursor: pointer;
                                margin-right: 50px;

                                .outer {
                                    width: 15px;
                                    height: 15px;
                                    background-color: white;
                                    border-radius: 50%;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    margin-right: 5px;

                                    .inner {
                                        width: 8px;
                                        height: 8px;
                                        background-color: #f3ba2f;
                                        border-radius: 50%;
                                    }
                                }

                                .group_text {
                                    color: white;
                                }
                            }
                        }

                        span.required_label {
                            display: block;
                            width: 100%;
                            text-align: left;
                            color: #f3ba2f;
                            font-size: 17px;
                            margin-bottom: 0px;
                        }

                    }
                }
            }
        }
    }
}

.react_link {
    width: fit-content;
}